* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

.buttons {
    height: 400px;
    display: flex;
    background-color: rgb(214, 209, 46);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header {
    font-weight: bold;
    color: rgb(214, 209, 46);
    box-sizing: border-box;
    padding: 48px;
    height: 200px;
    font-size: 72px;
    background-color: rgb(155, 77, 17);
    text-align: center;
}

#button-rock, #button-paper, #button-scissors {
    box-sizing: border-box;
    color:  rgb(155, 77, 17);
    border: solid 4px rgb(155, 77, 17);
    border-radius: 8px;
    font-size: 36px;
    width: 300px;
    height: 150px;
    text-align: center;
    background-color: rgb(158, 155, 155);
    padding: 16px 0px;
}

.result {
    color: rgb(214, 209, 46);
    box-sizing: border-box;
    padding: 24px;
    height: 200px;
    font-size: 24px;
    background-color: rgb(155, 77, 17);
    text-align: center;
}